<h3>
    Received arguments: {{ data.arguments }}<br>
    Host platform: {{ data.platform }}<br>
    Running on node version: {{ data.node-version }}<br>
    Allocated memory: {{ data.memory }}<br>
    Execution path: {{ data.execpath }}<br>
    PID: {{ data.pid }}<br>
    Project folder: {{ data.folder }}<br>
    Available cpu cores: {{ data.cpus }}<br>
</h3>